*{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    appearance: none;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(244, 248, 248);
}
form{
    margin: 2rem;
    padding: 1.5rem;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-width: 30%;
    border-radius: 20px;
    box-shadow: -0.1rem -0.1rem 0.1rem rgb(211, 206, 206),0.1rem 0.1rem 0.1rem rgb(211, 206, 206);
}
form .head{
    align-self: center;
    font-size:1.5rem ;
    font-family:sans-serif;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    
    
}
form .head .under{
    background-color: blue;
    height: 0.2rem;
    width: 40%;
    justify-self: center;
    
    
}
form div label{
    font-size: 1rem;
    font-family: sans-serif;
    
}
form input{
    width: 100%;
    padding: 0.5rem ;
    margin-top: 0.3rem;
    background-color: transparent;
    
    border: 2px solid silver;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(163, 121, 121, 0.1);
    border-radius: 7px;
}
.head p{
 font-size: 0.7rem;
 color: red;
 line-height: 1rem;
}
form textarea{
    padding: 0.5rem;
    width: 100%;
    height: 4rem;
    margin-top: 0.3rem;
    resize: none;
    line-height: 1rem;
}
form button{
    padding: 0.7rem;
    border-radius: 10px;
    outline: none;
    background-color: blue;
    border: none;
    font-size: 1rem;
      font-weight: bold;
      line-height: 1rem;
    color: white;
    transition: all ease 0.3s;
}
form button:hover{
    background-color: rgb(62, 62, 222);
}

form input:hover{
    border-color: green;
    cursor: pointer;
}
form input:focus {
    outline: none;
}

.incorrect{
    border: 2px solid red;
}
.enter{
    background-color: red;
}
@media (max-width:900px){
    .head p{
        text-align: center;
    }
   
}
@media (max-width:357px){
    form{
        min-width: 80%;
    }
    .head p{
        text-align: center;
    }
    form div label{
        font-size: 0.8rem;
    }
    form .head>h2{
font-size: 1.2rem;
font-weight: bold;
text-align: center;
    }
}
