*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.all-container{
    background-color: brown;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0.1rem 0.1rem 0.5rem  rgba(0, 0, 0,0.1),-0.1rem -0.1rem 0.5rem  rgba(0, 0, 0,0.1);
    width: 60%;
    flex-wrap: wrap;
    gap: 4rem;
    
    
}
.sub-menu-container{
    display: flex;
  width: 80%;
  
   justify-content: space-between;
   background-color: bisque;
   padding: 10px;    
    
}
.input{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
    text-align: center;   
}
.input input{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
}
.menu-container{
   
    position: relative;
    
}

    


.get{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 19px;
    left: 1px;
    gap: 0.5rem;
    z-index: 999;
    color: aliceblue;
    border-radius: 10px;
    font-weight: bolder;
    font-size: larger;
     position: absolute;
    background-color: rgb(33, 32, 30);
    width: 30px;
}

.select{
   
    display: none;
   
      
}


.area{
     font-weight: bolder;
    font-size: larger;
}

.option:hover{
    background-color: rgb(203, 128, 8);
    cursor: pointer;
}
button{

    padding: 10px;
    color: white;
    background-color: #555;
    font-weight: bolder;
    font-size: medium;
    transition: all ease-in 0.4s;
    border: none;
    border-radius: 10px;


}

 button:hover{
    background-color: green;
    cursor: pointer;
    
}
.showResult{
    background-color: azure;
    padding: 1rem;
    border-radius: 10px;

}
.showResult:hover{
    cursor: pointer;
}
