*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    
}



.card{border-radius: 1rem;
    background-color: #393e41;
    position: relative;

align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
    width: 300px;
    height: 400px;
    border-radius: var(border-radius);
    color: white;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    isolation: isolate;
    overflow: hidden;

    
}

.card::before,.card::after {
    content: "";
    position: absolute;
}
.card::before {
    width: 200%;
    height: 200%;
    background-image: conic-gradient(var(--color) 0deg,transparent 60deg,transparent 180deg,var(--color) 180deg,transparent 240deg);
    inset: -50%;
    z-index: -2;
    animation: border-animation 4s linear infinite;
    
}
.card::after{
    --inset: 4px;
    background: #111;
    inset: var(--inset);
    border-radius: calc(var(--border-radius)-var(--inset));
    transition: all o.3s linear;
    z-index: -1;
}
.card:hover::after{
    background: #393e41;
}
@keyframes border-animation{
    to{
        transform: rotate(-360deg);
    }

}
.card:hover::before{
    animation-play-state: paused;
}
.card i{
    font-size: 3.5 rem;
    color: transparent;
    -webkit-text-stroke: var(--color);
}

.card:hover i{
    color: var(--color);
    -webkit-text-stroke-width: 0;

}
.card .title{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-block:2.5rem 1.5rem ;
    color: var(--color);
    
}
.card .description{
    line-height: 1.5rem;
    text-align: center;
    opacity: 0.75;
}

